:root {
  --primary-color: #4880ff;
}

.bgprimary {
  background-color: var(--primary-color);
}
.bghover:hover {
  background-color: var(--primary-color);
}

.textprimary {
  color: var(--primary-color);
}
.textHover:hover {
  color: white;
}
.textHoverPrimary:hover {
  color: var(--primary-color);
}
